.navbar-nav > li > a {
  color: white !important;
  transition: background-color 0.3s ease-in-out;
}

.navbar-nav > li > a:hover {
  background-color: #00233c !important;
}

.navbar-nav > .active > a {
    background-color: #002b4d !important;
}

.navbar-brand {
  margin-right: 10px;
}

#autocollapse {
  background-color: #003760;
}
